Invoice Workflow SBS.json
{
  "name": "Invoice Workflow SBS",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1b8AH9vNSUg4Pe5XfatdQPPEehgorSEyB",
          "mode": "list",
          "cachedResultName": "N8n Testing",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1b8AH9vNSUg4Pe5XfatdQPPEehgorSEyB"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b1aa910c-2a3f-4fdd-821d-a231295d09ff",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4ZDsR0J6JR37dOJN",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "9360ceba-c68c-4d7b-bed5-4e54062439d9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "a6167e18-e7fa-44ba-98f9-6244777c0ec2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4ZDsR0J6JR37dOJN",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The Number of the invoice",
              "required": true
            },
            {
              "name": "Client Name",
              "description": "the name of the client",
              "required": true
            },
            {
              "name": "Client Email",
              "description": "The email of the client.",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "The address of the client.",
              "required": true
            },
            {
              "name": "Client Phone",
              "description": "The phone number or Po number of the client",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "The Total Amount after tax in the invoice.",
              "required": true
            },
            {
              "name": "Invoice Date",
              "description": "The Date given in the invoice.",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "The Due Date Given in the Invoice.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "b76d73d3-68b5-4464-9c51-f2a45d73e6e9",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        224
      ],
      "id": "2a8b68e7-393c-40fa-9760-aa96decd02a4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "z62agtOQAOue4ozI",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KTAypwJXDuydU7HJJhFLnyY8KVFYPmaRqDlJfcU5_jw",
          "mode": "list",
          "cachedResultName": "Invoice DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KTAypwJXDuydU7HJJhFLnyY8KVFYPmaRqDlJfcU5_jw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KTAypwJXDuydU7HJJhFLnyY8KVFYPmaRqDlJfcU5_jw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name": "={{ $json.output['Client Name'] }}",
            "Client Email": "={{ $json.output['Client Email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Client Phone ": "={{ $json.output['Client Phone'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone ",
              "displayName": "Client Phone ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        0
      ],
      "id": "8df90f0e-6464-42b9-a556-bf76ce3189d1",
      "name": "Update DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8V4ZIinEatGw61EI",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number: {{ $json['Invoice Number'] }}\n\nClient Name: {{ $json['Client Name'] }}\n\nClient Email: {{ $json['Client Email'] }}\n\nTotal Amount: {{ $json['Total Amount'] }}\n\nInvoice Date: {{ $json['Invoice Date'] }}\n\nDue Date: {{ $json['Due Date'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "=# Overview\nYou are an email expert. You will receive invoice information. Your job is to notify the internal billing team that an invoice was received/sent.\n\n## Email\ninform the billing team of the invoice. Let them know we have also updated this in the invoice Database, and they can view it here: https://docs.google.com/spreadsheets/d/1KTAypwJXDuydU7HJJhFLnyY8KVFYPmaRqDlJfcU5_jw/edit?gid=0#gid=0\n\n# Constraints\nReturn ONLY a valid JSON object. Do not include any conversational text or markdown code blocks (like ```json).\n\n# Output Format\n{\n  \"subject\": \"The generated subject line\",\n  \"email\": \"The generated email body\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1248,
        0
      ],
      "id": "1b47cb02-db17-4180-b812-0b5bc09cbda4",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "z62agtOQAOue4ozI",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update DB').item.json['Client Email'] }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        0
      ],
      "id": "d46b9f45-6b5d-489e-8a4f-edf4913ceee4",
      "name": "Send Email",
      "webhookId": "80bb294e-5ae9-495d-9703-471b9e268bef",
      "credentials": {
        "gmailOAuth2": {
          "id": "6Wv3OjP1pKS885Le",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jsonString = $input.item.json.content.parts[0].text;\nconst parsed = JSON.parse(jsonString);\nreturn { subject: parsed.subject, email: parsed.email };"
      },
      "id": "4f701466-ea80-44bc-8164-3e867d58fd81",
      "name": "Parse Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2032,
        0
      ],
      "id": "6e0a8711-49d8-46b6-a22f-c9b92a4e954f",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Email Data": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e976687d-0b2b-44f6-b5a4-c5caa7cb8434",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bf65f4354ed6a88915494fbf222360b9706177d87e225e9f4dabbedf453024b0"
  },
  "id": "9EOOGYdWQi9CX4k0",
  "tags": []
}